ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

li a{
    display: block;
    background-color: grey;
    width: 100px;
    color: #000;
}

li a:hover{
    background-color: green;
    color: red;
}
