#img1 {
    border-width: 5px;
    border-color: red;
    border-style: dashed
  }

#img2 {
    border-width: 5px;
    border-color: red;
    border-style: solid
}

#img3 {
    border-width: 5px;
    border-color: red;
    border-style: dotted
}

#container {
    margin-left: 15%;
    width: 300px;
    height: 200px;
    background-color: red;
    -webkit-animation: mymove 5s infinite; 
    animation: mymove 5s infinite;
    }

@-webkit-keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}